.file-selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  > * {
    margin-right: 10px;
  }
  &__button.bp3-button {
    display: block;
  }
  &__filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
