.file-selector {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  >* {
    margin: 0 10px;
  }
  &__label {
    min-width: 100px;
  }
  &__button.bp3-button {
    display: block;
  }
  &__filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}