$previewWidth: 720px;
$previewHeight: 480px;

.preview {
  &__wrapper {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  border: 1px solid grey;
  overflow: hidden;
  background-size: cover;
  transform: scale(1);
  width: $previewWidth;
  height: $previewHeight;
  &__verses {
    margin-top: 175px;
  }
  &__verses.subtitle {
    position: absolute;
    width: 100%;
    bottom: 35px;
  }
  &__verse {
    position: relative;
    line-height: 2;
    letter-spacing: .05em;
    margin: 0px 46px;
    padding: 15px 10px;
  }
  &__verse.hide {
    display: none;
  }
  &__word {
    padding: 0 5px;
    margin: 0 -5px;
    display: inline-block;
  }
  &__speech-bubble-bg {
    z-index: -1;
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__highlight {
    opacity: 1;
  }
  &__video {
    position: absolute;
    z-index: -2;
    width: $previewWidth;
    height: $previewHeight;
    object-fit: cover;
  }
}
