@import '~@blueprintjs/core/lib/css/blueprint.css';
html,
body,
#root {
  height: 100%;
  background-color: #30404d;
}

.app {
  height: 100%;
  background-color: #30404d;
  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__settings-btn {
    position: absolute;
    right: 0;
    top: calc(50% - 15px);
  }
  &__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 0;
  }
  h1 {
    text-align: center;
  }
  &__footer {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    &-success {
      button {
        width: 190px;
      }
    }
    
    &-progress {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
    }
    &-wrapper {
      display: block;
      width: 100%;
    }
  }
  &__info {
    text-align: center;
    color: #aaa;
    margin-bottom: 20px;
  }
}

