.card {
  &--inline {
    display: flex;
    flex-direction: row;
    align-items: center;
    > * {
      margin-right: 10px;
    }
  }
  &--bspace {
    padding-bottom: 10px;
  }
}
.display-card {
  &__bg-label {
    align-self: flex-start;
    padding-top: 6px;
  }
  &__bg-radio {
    min-width: 110px;
  }
  &__btn-bold {
    font-weight: bold;
  }
  &__btn-italic {
    font-style: italic;
  }
  &__slider {
    margin: 0 20px;
    max-width: 200px;
  }
}